.list-container {
    font-family: 'Roboto', sans-serif;
    flex: 0.5;
    height: 85vh;
    overflow-y: scroll;
}

.heading {
    margin: 20px;
    font-size: 25px;
}

.choice {
    display: flex;
}

.form-main {
    margin: 20px;
}

.places {
    margin: 20px;
}

